In [1]:
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in c:\users\danielpe\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\danielpe\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)
Requirement already satisfied: findspark in c:\users\danielpe\anaconda3\lib\site-packages (2.0.1)

In [2]:
import findspark
findspark.init()

In [3]:
import re
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

In [4]:
# Expressoes regulares comuns
REGEX_ALPHA    = r'[a-zA-Z]+'
REGEX_INTEGER  = r'[0-9]+'
REGEX_FLOAT    = r'[0-9]+\.[0-9]+'
REGEX_ALPHANUM = r'[0-9a-zA-Z]+'
REGEX_EMPTY_STR= r'[\t ]+$'
REGEX_SPECIAL  = r'[!@#$%&*\(\)_]+'

In [5]:
# Criar o contexto do spark
sc = SparkContext()

# Instancia o criador de sessao do spark
spark = (SparkSession.builder
                     .master("local[*]")
                     .appName("Aceleração PySpark - Capgemini"))

In [6]:
# Cria o schema adequado
schema_airports = StructType([
    StructField("faa",  StringType(),  True),
    StructField("name", StringType(),  True),
    StructField("lat",  FloatType(),   True),
    StructField("lon",  FloatType(),   True),
    StructField("alt",  IntegerType(), True),
    StructField("tz",   FloatType(), True),
    StructField("dst",  StringType(),  True)
])

In [7]:
# Cria o schema adequado
schema_planes = StructType([
    StructField("tailnum",  StringType(),  True),
    StructField("year",  IntegerType(),  True),
    StructField("type", StringType(),  True),
    StructField("manufacturer",  StringType(),   True),
    StructField("model",  StringType(),   True),
    StructField("engines",  IntegerType(), True),
    StructField("seats",   IntegerType(), True),
    StructField("speed",  IntegerType(),  True),
     StructField("engine",  StringType(),  True)
])

In [8]:
# Cria o schema adequado

schema_flights = StructType([
StructField("year", IntegerType(), True),
StructField("month", IntegerType(), True),
StructField("day", IntegerType(), True),
StructField("dep_time", StringType(), True),
StructField("dep_delay", IntegerType(), True),
StructField("arr_time", StringType(), True),
StructField("arr_delay", IntegerType(), True),
StructField("carrier", StringType(), True),
StructField("tailnum", StringType(), True),
StructField("flight", StringType(), True),
StructField("origin", StringType(), True),
StructField("dest", StringType(), True),
StructField("air_time", IntegerType(), True),
StructField("distance", IntegerType(), True),
StructField("hour", IntegerType(), True),
StructField("minute", IntegerType(), True)
    
])

In [9]:
# Carrega os dados com as configurações necessárias

path_airports = ("C:/projetos/spark/transformation/airports.csv")

df_airports = (spark.getOrCreate().read
                  .format("csv")
                  .option("header", "true")
                  .schema(schema_airports)
                  .load(path_airports))

path_planes = ("C:/projetos/spark/transformation/planes.csv")

df_planes = (spark.getOrCreate().read
                  .format("csv")
                  .option("header", "true")
                  .schema(schema_planes)
                  .load(path_planes))

path_flights = ("C:/projetos/spark/transformation/flights.csv")

df_flights = (spark.getOrCreate().read
                  .format("csv")
                  .option("header", "true")
                  .schema(schema_flights)
                  .load(path_flights))

In [10]:
df_flights = df_flights[['year', 'month', 'day','hour', 'minute','dep_time','arr_time', 'dep_delay', 'arr_delay', 'carrier', 'tailnum', 'flight',
'origin','dest', 'air_time', 'distance']]

df_flights.printSchema()
df_flights.show()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- dep_delay: integer (nullable = true)
 |-- arr_delay: integer (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: integer (nullable = true)
 |-- distance: integer (nullable = true)

+----+-----+---+----+------+--------+--------+---------+---------+-------+-------+------+------+----+--------+--------+
|year|month|day|hour|minute|dep_time|arr_time|dep_delay|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|
+----+-----+---+----+------+--------+--------+---------+---------+-------+-------+------+------+----+--------+--------+
|2014|   12|  8|   6|    58|     658|     935|       -7|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|
|2014|    1| 22|  10|    40|    1040|    1505|        5|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|
|2014|    3|  9|  14|    43|    1443|    1652|       -2|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|
|2014|    4|  9|  17|     5|    1705|    1839|       45|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|
|2014|    3|  9|   7|    54|     754|    1015|       -1|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|
|2014|    1| 15|  10|    37|    1037|    1352|        7|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|
|2014|    7|  2|   8|    47|     847|    1041|       42|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|
|2014|    5| 12|  16|    55|    1655|    1842|       -5|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|
|2014|    4| 19|  12|    36|    1236|    1508|       -4|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|
|2014|   11| 19|  18|    12|    1812|    2352|       -3|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|
|2014|   11|  8|  16|    53|    1653|    1924|       -2|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|
|2014|    8|  3|  11|    20|    1120|    1415|        0|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|
|2014|   10| 30|   8|    11|     811|    1038|       21|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|
|2014|   11| 12|  23|    46|    2346|     217|       -4|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|
|2014|   10| 31|  13|    14|    1314|    1544|       89|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|
|2014|    1| 29|  20|     9|    2009|    2159|        3|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|
|2014|   12| 17|  20|    15|    2015|    2150|       50|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|
|2014|    8| 11|  10|    17|    1017|    1613|       -3|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|
|2014|    1| 13|  21|    56|    2156|     607|       -9|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|
|2014|    6|  5|  17|    33|    1733|    1945|      -12|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|
+----+-----+---+----+------+--------+--------+---------+---------+-------+-------+------+------+----+--------+--------+
only showing top 20 rows

In [11]:
df_airports.show()
df_airports.printSchema()

+---+--------------------+---------+-----------+----+----+---+
|faa|                name|      lat|        lon| alt|  tz|dst|
+---+--------------------+---------+-----------+----+----+---+
|04G|   Lansdowne Airport|41.130474|  -80.61958|1044|-5.0|  A|
|06A|Moton Field Munic...| 32.46057|  -85.68003| 264|-5.0|  A|
|06C| Schaumburg Regional| 41.98934|  -88.10124| 801|-6.0|  A|
|06N|     Randall Airport| 41.43191|  -74.39156| 523|-5.0|  A|
|09J|Jekyll Island Air...|31.074472|  -81.42778|  11|-4.0|  A|
|0A9|Elizabethton Muni...|36.371223| -82.173416|1593|-4.0|  A|
|0G6|Williams County A...|41.467304| -84.506775| 730|-5.0|  A|
|0G7|Finger Lakes Regi...|42.883564| -76.781235| 492|-5.0|  A|
|0P2|Shoestring Aviati...|39.794823| -76.647194|1000|-5.0|  U|
|0S9|Jefferson County ...| 48.05381|-122.810646| 108|-8.0|  A|
|0W3|Harford County Ai...|39.566837|   -76.2024| 409|-5.0|  A|
|10C|  Galt Field Airport| 42.40289| -88.375114| 875|-6.0|  U|
|17G|Port Bucyrus-Craw...|40.781555|  -82.97481|1003|-5.0|  A|
|19A|Jackson County Ai...|34.175865|   -83.5616| 951|-4.0|  U|
|1A3|Martin Campbell F...|35.015804|  -84.34683|1789|-4.0|  A|
|1B9| Mansfield Municipal|42.000134|  -71.19677| 122|-5.0|  A|
|1C9|Frazier Lake Airpark|54.013332| -124.76833| 152|-8.0|  A|
|1CS|Clow Internationa...|41.695976| -88.129234| 670|-6.0|  U|
|1G3|  Kent State Airport| 41.15139|  -81.41511|1134|-4.0|  A|
|1OH|     Fortman Airport|40.555325|  -84.38662| 885|-5.0|  U|
+---+--------------------+---------+-----------+----+----+---+
only showing top 20 rows

root
 |-- faa: string (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lon: float (nullable = true)
 |-- alt: integer (nullable = true)
 |-- tz: float (nullable = true)
 |-- dst: string (nullable = true)

In [12]:
#Visão Temporaria
df_airports.createOrReplaceTempView('airports_final')

## Airports Dataset - Perguntas

## Pergunta 1

In [13]:
df_airports = df_airports.withColumn("alt",
                                     F.when(F.col("alt") < 0, 0)
                                      .otherwise(df_airports.alt))

#Recriei a visão temporária a partir da que já tinha para contabilizar as alterações.
df_airports.createOrReplaceTempView('airports_final')

spark.getOrCreate().sql("select alt, Count(*) from airports_final Group By alt Order By alt").show()

+---+--------+
|alt|count(1)|
+---+--------+
|  0|      51|
|  1|       2|
|  2|       1|
|  3|       2|
|  4|       3|
|  5|       3|
|  6|       3|
|  7|       7|
|  8|       8|
|  9|       7|
| 10|      11|
| 11|       6|
| 12|       8|
| 13|      12|
| 14|      11|
| 15|      11|
| 16|       3|
| 17|       7|
| 18|      10|
| 19|       6|
+---+--------+
only showing top 20 rows

## Pergunta 2

In [14]:
df_airports = df_airports.withColumn('dst',
                                       F.when(F.col('tz').between(-7,-5),"A")
                                        .otherwise(df_airports.dst))

df_airports.groupBy("dst").count().distinct().orderBy("dst", ascending=True).show()

+---+-----+
|dst|count|
+---+-----+
|  A| 1380|
|  N|    9|
|  U|    8|
+---+-----+

## Pergunta 3

In [15]:
df_airports = df_airports.withColumn("dst", (
                                                F.when((F.col("dst") == "U"), "A")
                                                .otherwise(df_airports.dst)))

df_airports.groupBy("dst").count().distinct().orderBy("dst", ascending=True).show()

+---+-----+
|dst|count|
+---+-----+
|  A| 1388|
|  N|    9|
+---+-----+

## Pergunta 4

In [16]:
df_airports = df_airports.withColumn('region',
                                       F.when(F.col('lon') < -124, "ALASKA")
                                       .when((F.col('lon') > -50) | (F.col('lat') < 24), "OFFSHORE")
                                       .when((F.col('lon') <= -95) & (F.col('lon').between(-124,-50)), "MAINLAND-WEST")
                                       .when((F.col('lon') > -95) & (F.col('lon').between(-124,-50)),  "MAINLAND-EAST")
                                       .otherwise(float("NaN")))

df_airports.groupBy("region").count().distinct().orderBy("region", ascending=True).show()

+-------------+-----+
|       region|count|
+-------------+-----+
|       ALASKA|  261|
|MAINLAND-EAST|  696|
|MAINLAND-WEST|  436|
|     OFFSHORE|    4|
+-------------+-----+

## Pergunta 5

In [17]:
AP = ["Airport", "Tradeport", "Heliport", "Airpor","Arpt"]
AD = ["Aerodrome"]
AK = ["Airpark", "Aero Park"]
AS = ["Station" ,"Air Station"]
FL = ["Field", "Fld"]

df_airports = df_airports.withColumn("type", (
                        F.when((F.col("name").rlike(r'|'.join(map(lambda x : f".*({x}).*", AP)))), "AP")
                         .when((F.col("name").rlike(r'|'.join(map(lambda x : f".*({x}).*", AD)))), "AD")
                         .when((F.col("name").rlike(r'|'.join(map(lambda x : f".*({x}).*", AK)))), "AK")
                         .when((F.col("name").rlike(r'|'.join(map(lambda x : f".*({x}).*", AS)))), "AS")
                         .when((F.col("name").rlike(r'|'.join(map(lambda x : f".*({x}).*", FL)))), "FL")
                         .otherwise("NaN")
))

df_airports.groupBy("type").count().distinct().orderBy("type", ascending=True).show()

+----+-----+
|type|count|
+----+-----+
|  AD|    1|
|  AK|   12|
|  AP|  624|
|  AS|   19|
|  FL|   78|
| NaN|  663|
+----+-----+

## Pergunta 6

In [18]:
LIST_MILITARY = ["Base", "Aaf", "Afs", "Ahp", "Afb", "LRRS", "Lrrs", "Arb", "Naf", "NAS", "Nas", "Jrb", "Ns",
"As", "Cgas", "Angb"]

REGEX_SUBSTRINGS = r'|'.join(map(lambda x : f'^{x} | {x} | {x}$', LIST_MILITARY))

df_airports = df_airports.withColumn('military',
                                    F.when(F.col('name').rlike(REGEX_SUBSTRINGS), True)
                                    .otherwise(False))

df_airports.groupBy("military").count().distinct().orderBy("military", ascending=True).show()

+--------+-----+
|military|count|
+--------+-----+
|   false| 1236|
|    true|  161|
+--------+-----+

## Pergunta 7

In [19]:
I = ["International", "Intl", "Intercontinental"]
N = ["National", "Natl"]
R = ["Regional", "Reigonal", "Rgnl", "County", "Metro", "Metropolitan"]
M = ["Municipal", "Muni", "City"]



df_airports = df_airports.withColumn("administration", (
                        F.when((F.col("name").rlike(r'|'.join(map(lambda x : f".*({x}).*", I)))), "I")
                         .when((F.col("name").rlike(r'|'.join(map(lambda x : f".*({x}).*", N)))), "N")
                         .when((F.col("name").rlike(r'|'.join(map(lambda x : f".*({x}).*", R)))), "R")
                         .when((F.col("name").rlike(r'|'.join(map(lambda x : f".*({x}).*", M)))), "M")
                         .otherwise("NaN")
))

df_airports.groupBy("administration").count().distinct().orderBy("administration", ascending=True).show()

+--------------+-----+
|administration|count|
+--------------+-----+
|             I|  164|
|             M|  180|
|             N|    5|
|           NaN|  761|
|             R|  287|
+--------------+-----+

## Salvando arquivo

In [20]:
(df_airports.repartition(1) # coalesce
            .write.format("parquet")
            .mode('overwrite')
            .option("header", "true")
            .save("C:/projetos/spark/transformation/airports_proc.parquet"))

## Planes Dataset - Perguntas

In [23]:
#Visão Temporaria
df_planes.createOrReplaceTempView('planes')

In [24]:
df_planes.show()
df_planes.printSchema()

+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+
|tailnum|year|                type|    manufacturer|   model|engines|seats|speed|   engine|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+
| N102UW|1998|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N103US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N104UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N105UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N107US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N108UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N109UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N110UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N111US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N11206|2000|Fixed wing multi ...|          BOEING| 737-824|      2|  149| null|Turbo-fan|
| N112US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N113UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N114UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N117UW|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N118US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N119US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N1200K|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|
| N1201P|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|
| N12114|1995|Fixed wing multi ...|          BOEING| 757-224|      2|  178| null|Turbo-jet|
| N121DE|1987|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+
only showing top 20 rows

root
 |-- tailnum: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- engines: integer (nullable = true)
 |-- seats: integer (nullable = true)
 |-- speed: integer (nullable = true)
 |-- engine: string (nullable = true)

## Pergunta 1

In [25]:
df_planes = df_planes.withColumn("tailchar", 
                    F.regexp_replace(F.col("tailnum"), '[0-9]|^N', ""))

df_planes.groupBy("tailchar").count().distinct().orderBy("tailchar", ascending=True).show()

+--------+-----+
|tailchar|count|
+--------+-----+
|        |  298|
|       A|   46|
|      AA|   67|
|      AG|   10|
|      AS|  138|
|      AT|    4|
|      AW|   87|
|      AY|    4|
|       B|   28|
|      BR|    6|
|       C|   20|
|      CA|   21|
|      CB|    2|
|      CT|    1|
|       D|   16|
|      DA|   46|
|      DE|    2|
|      DH|    2|
|      DL|   61|
|      DN|  118|
+--------+-----+
only showing top 20 rows

## Pergunta 2

In [26]:
df_planes = df_planes.withColumn("year",
                                 F.when(F.col('year') == 0, 1996)
                                  .otherwise(F.col('year'))
                                )

df_planes.groupBy("year").count().distinct().orderBy("year", ascending=True).show()

+----+-----+
|year|count|
+----+-----+
|null|   60|
|1959|    1|
|1963|    1|
|1968|    1|
|1975|    2|
|1976|    1|
|1980|    1|
|1984|    5|
|1985|   15|
|1986|   13|
|1987|   23|
|1988|   29|
|1989|   21|
|1990|   42|
|1991|   48|
|1992|   78|
|1993|   41|
|1994|   39|
|1995|   54|
|1996|   73|
+----+-----+
only showing top 20 rows

## Pergunta 3

In [27]:
# Criando tabela ordenada por Manufacturer e Model
df_ordered = df_planes.groupBy("manufacturer",'model').min('year').orderBy('manufacturer','model')

# Renomeando colunas
df_ordered = (df_ordered.withColumnRenamed('manufacturer', 'manufacturer1')
                        .withColumnRenamed('model', 'model1')
                        .withColumnRenamed('min(year)', 'year1')
             )

# Criando tabela ordenada somente por manufacturer
df_ordered2 = (df_planes.groupBy('manufacturer')
                        .min('year')
                        .orderBy('manufacturer')
              )

# Renomeando colunas
df_ordered2 = (df_ordered2.withColumnRenamed('manufacturer', 'manufacturer2')
                         .withColumnRenamed('min(year)', 'year2')
              )

# Fazendo left join da tabela df_planes com a tabela df_ordered
df_final = (df_planes.join(df_ordered, 
                          (df_planes.manufacturer == df_ordered.manufacturer1) &
                          (df_planes.model == df_ordered.model1),'left')
           )

# Fazendo left join da tabela df_final com a df_ordered2
df_final = df_final.join(df_ordered2, df_final.manufacturer == df_ordered2.manufacturer2 , 'left')

# Modificando a coluna year para inputar os anos
df_final = (df_final.withColumn('year',
                  F.when((F.col('year').isNull()) & (F.col('year1').isNull()), F.col('year2'))
                   .when(F.col('year').isNull(), F.col('year1'))
                   .otherwise(F.col('year')))
           )

# Dropando as colunas criadas pelo join
df_final = df_final.drop('manufacturer1','manufacturer2','model1','year1','year2')


df_final.show()

df_planes = df_final

+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+
|tailnum|year|                type|    manufacturer|   model|engines|seats|speed|   engine|tailchar|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+
| N102UW|1998|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N103US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US|
| N104UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N105UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N107US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US|
| N108UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N109UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N110UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N111US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US|
| N11206|2000|Fixed wing multi ...|          BOEING| 737-824|      2|  149| null|Turbo-fan|        |
| N112US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US|
| N113UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N114UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N117UW|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N118US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US|
| N119US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US|
| N1200K|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|       K|
| N1201P|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|       P|
| N12114|1995|Fixed wing multi ...|          BOEING| 757-224|      2|  178| null|Turbo-jet|        |
| N121DE|1987|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|      DE|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+
only showing top 20 rows

In [28]:
df_planes.select("year","manufacturer","model").filter(F.col('year').isNull()).show()

+----+---------------+-------------+
|year|   manufacturer|        model|
+----+---------------+-------------+
|null|LAMBERT RICHARD|    FALCON XP|
|null|  BARKER JACK L|ZODIAC 601HDS|
+----+---------------+-------------+

## Pergunta 4

In [29]:
df_planes = df_planes.withColumn("age",
                    F.expr("2022 - year"))

df_planes.groupBy("age").count().distinct().orderBy("age", ascending=False).show()

+---+-----+
|age|count|
+---+-----+
| 63|    1|
| 59|    1|
| 54|    1|
| 47|    2|
| 46|    1|
| 42|    1|
| 38|    6|
| 37|   15|
| 36|   13|
| 35|   23|
| 34|   29|
| 33|   21|
| 32|   42|
| 31|   48|
| 30|   78|
| 29|   42|
| 28|   45|
| 27|   55|
| 26|   73|
| 25|   80|
+---+-----+
only showing top 20 rows

## Pergunta 5

In [30]:
df_planes = (df_planes.withColumn('type',
                                F.when(F.col('type') == "Fixed wing multi engine", "MULTI_ENG")
                                 .when(F.col('type') == "Fixed wing single engine", "SINGLE_ENG")
                                 .when(F.col('type') == "Rotorcraft", "ROTORCRAFT")
                                 .otherwise(F.col('type')))                              
                                
                                )

df_planes.groupBy("type").count().distinct().orderBy("type", ascending=True).show()

+----------+-----+
|      type|count|
+----------+-----+
| MULTI_ENG| 2615|
|ROTORCRAFT|    3|
|SINGLE_ENG|   10|
+----------+-----+

## Pergunta 6

In [31]:
df_planes.groupBy("manufacturer").count().distinct().orderBy("manufacturer", ascending=True).show()

+--------------------+-----+
|        manufacturer|count|
+--------------------+-----+
|              AIRBUS|  397|
|    AIRBUS INDUSTRIE|  401|
|       BARKER JACK L|    1|
|                BELL|    1|
|              BOEING| 1460|
|      BOMBARDIER INC|  214|
|            CANADAIR|    8|
|              CESSNA|    4|
|  CIRRUS DESIGN CORP|    1|
|             EMBRAER|   37|
|GULFSTREAM AEROSPACE|    1|
|        KILDALL GARY|    1|
|     LAMBERT RICHARD|    1|
|          MARZ BARRY|    1|
|   MCDONNELL DOUGLAS|   94|
|MCDONNELL DOUGLAS...|    2|
|               PIPER|    2|
|ROBINSON HELICOPT...|    1|
|            SIKORSKY|    1|
+--------------------+-----+

In [32]:
df_planes = (df_planes.withColumn('manufacturer',
                                F.when(F.col('manufacturer').startswith('AIRBUS'), "AIRBUS")
                                 .when(F.col('manufacturer').startswith('BARKER'), "BARKER JACK")
                                 .when(F.col('manufacturer').startswith('BELL'), "BELL") 
                                 .when(F.col('manufacturer').startswith('BOEING'), "BOEING")
                                 .when(F.col('manufacturer').startswith('BOMBARDIER'), "BOMBARDIER")
                                 .when(F.col('manufacturer').startswith('CANADAIR'), "CANADAIR")
                                 .when(F.col('manufacturer').startswith('CESSNA'), "CESSNA")
                                 .when(F.col('manufacturer').startswith('CIRRUS'), "CIRRUS")
                                 .when(F.col('manufacturer').startswith('EMBRAER'), "EMBRAER")
                                 .when(F.col('manufacturer').startswith('GULFSTREAM'), "GULFSTREAM")
                                 .when(F.col('manufacturer').startswith('KILDALL'), "KILDALL GARY")
                                 .when(F.col('manufacturer').startswith('LAMBERT'), "LAMBERT RICHARD")
                                 .when(F.col('manufacturer').startswith('MARZ'), "MARZ BARRY")
                                 .when(F.col('manufacturer').startswith('MCDONNELL'), "MCDONNELL DOUGLAS")
                                 .when(F.col('manufacturer').startswith('PIPER'), "PIPER")
                                 .when(F.col('manufacturer').startswith('ROBINSON'), "ROBINSON HELICOPTER")
                                 .when(F.col('manufacturer').startswith('SIKORSKY'), "SIKORSKY") 
            ))

df_planes.groupBy("manufacturer").count().distinct().orderBy("manufacturer", ascending=True).show()

+-------------------+-----+
|       manufacturer|count|
+-------------------+-----+
|             AIRBUS|  798|
|        BARKER JACK|    1|
|               BELL|    1|
|             BOEING| 1460|
|         BOMBARDIER|  214|
|           CANADAIR|    8|
|             CESSNA|    4|
|             CIRRUS|    1|
|            EMBRAER|   37|
|         GULFSTREAM|    1|
|       KILDALL GARY|    1|
|    LAMBERT RICHARD|    1|
|         MARZ BARRY|    1|
|  MCDONNELL DOUGLAS|   96|
|              PIPER|    2|
|ROBINSON HELICOPTER|    1|
|           SIKORSKY|    1|
+-------------------+-----+

## Pergunta 7

In [33]:
df_planes.groupBy("model").count().distinct().orderBy("model", ascending=True).show(1000)

+--------------+-----+
|         model|count|
+--------------+-----+
|           150|    1|
|          172M|    1|
|          206B|    1|
|    210-5(205)|    1|
|          421C|    1|
|       737-301|    2|
|       737-3A4|    1|
|       737-3G7|    2|
|       737-3H4|  104|
|       737-3K2|    2|
|       737-3L9|    2|
|       737-3Q8|    4|
|       737-3T5|    1|
|       737-3TO|    2|
|       737-3Y0|    1|
|       737-490|   16|
|       737-4Q8|    9|
|       737-4S3|    1|
|       737-5H4|   10|
|       737-705|    2|
|       737-724|   31|
|       737-732|    2|
|       737-73V|    1|
|       737-76N|   15|
|       737-76Q|    3|
|       737-790|   17|
|       737-7AD|    1|
|       737-7BD|   32|
|       737-7BX|    3|
|       737-7H4|  360|
|       737-7K9|    2|
|       737-7Q8|    1|
|       737-824|  122|
|       737-832|   73|
|       737-890|   60|
|       737-8FH|    1|
|       737-8H4|   81|
|       737-924|   12|
|     737-924ER|  102|
|     737-932ER|   30|
|       737-990|   12|
|     737-990ER|   23|
|       747-451|    1|
|       757-212|    4|
|       757-222|   35|
|       757-223|   11|
|       757-224|    1|
|       757-231|    8|
|       757-232|   82|
|       757-251|   26|
|       757-26D|    1|
|       757-28A|    1|
|       757-2G7|    2|
|       757-2Q8|   10|
|       757-2S7|    4|
|       757-324|    4|
|       757-33N|    4|
|       757-351|   16|
|       767-322|    6|
|       767-332|   63|
|       767-33A|    4|
|       767-3CB|    3|
|       767-3P6|    4|
|     767-432ER|    9|
|       777-224|    2|
|     777-232LR|    1|
|      A319-111|   23|
|      A319-112|   56|
|      A319-114|   53|
|      A319-115|    1|
|      A319-131|   55|
|      A319-132|   39|
|      A320-211|   27|
|      A320-212|   42|
|      A320-214|   86|
|      A320-231|    8|
|      A320-232|  255|
|      A321-211|   43|
|      A321-231|   66|
|      A330-223|   11|
|      A330-243|   19|
|      A330-323|   14|
|   CL-600-2B19|   92|
|   CL-600-2C10|   98|
|   CL-600-2D24|   32|
|DC-9-82(MD-82)|   24|
|DC-9-83(MD-83)|   20|
|       EMB-120|    3|
|     EMB-120ER|   34|
|     FALCON XP|    1|
|     FALCON-XP|    1|
|  GV-SP (G550)|    1|
|     KITFOX IV|    1|
|         MD-88|    2|
|      MD-90-30|   65|
|     PA-28-180|    1|
|    PA-32R-300|    1|
|           R66|    1|
|         S-76A|    1|
|          SR22|    1|
| ZODIAC 601HDS|    1|
+--------------+-----+

In [34]:
df_planes = (df_planes.withColumn("model", 
                    F.regexp_replace(F.col("model"), '\s*\([^()]*\)\s*', "")
            ))

df_planes.groupBy("model").count().distinct().orderBy("model", ascending=True).show(1000)

+-------------+-----+
|        model|count|
+-------------+-----+
|          150|    1|
|         172M|    1|
|         206B|    1|
|        210-5|    1|
|         421C|    1|
|      737-301|    2|
|      737-3A4|    1|
|      737-3G7|    2|
|      737-3H4|  104|
|      737-3K2|    2|
|      737-3L9|    2|
|      737-3Q8|    4|
|      737-3T5|    1|
|      737-3TO|    2|
|      737-3Y0|    1|
|      737-490|   16|
|      737-4Q8|    9|
|      737-4S3|    1|
|      737-5H4|   10|
|      737-705|    2|
|      737-724|   31|
|      737-732|    2|
|      737-73V|    1|
|      737-76N|   15|
|      737-76Q|    3|
|      737-790|   17|
|      737-7AD|    1|
|      737-7BD|   32|
|      737-7BX|    3|
|      737-7H4|  360|
|      737-7K9|    2|
|      737-7Q8|    1|
|      737-824|  122|
|      737-832|   73|
|      737-890|   60|
|      737-8FH|    1|
|      737-8H4|   81|
|      737-924|   12|
|    737-924ER|  102|
|    737-932ER|   30|
|      737-990|   12|
|    737-990ER|   23|
|      747-451|    1|
|      757-212|    4|
|      757-222|   35|
|      757-223|   11|
|      757-224|    1|
|      757-231|    8|
|      757-232|   82|
|      757-251|   26|
|      757-26D|    1|
|      757-28A|    1|
|      757-2G7|    2|
|      757-2Q8|   10|
|      757-2S7|    4|
|      757-324|    4|
|      757-33N|    4|
|      757-351|   16|
|      767-322|    6|
|      767-332|   63|
|      767-33A|    4|
|      767-3CB|    3|
|      767-3P6|    4|
|    767-432ER|    9|
|      777-224|    2|
|    777-232LR|    1|
|     A319-111|   23|
|     A319-112|   56|
|     A319-114|   53|
|     A319-115|    1|
|     A319-131|   55|
|     A319-132|   39|
|     A320-211|   27|
|     A320-212|   42|
|     A320-214|   86|
|     A320-231|    8|
|     A320-232|  255|
|     A321-211|   43|
|     A321-231|   66|
|     A330-223|   11|
|     A330-243|   19|
|     A330-323|   14|
|  CL-600-2B19|   92|
|  CL-600-2C10|   98|
|  CL-600-2D24|   32|
|      DC-9-82|   24|
|      DC-9-83|   20|
|      EMB-120|    3|
|    EMB-120ER|   34|
|    FALCON XP|    1|
|    FALCON-XP|    1|
|        GV-SP|    1|
|    KITFOX IV|    1|
|        MD-88|    2|
|     MD-90-30|   65|
|    PA-28-180|    1|
|   PA-32R-300|    1|
|          R66|    1|
|        S-76A|    1|
|         SR22|    1|
|ZODIAC 601HDS|    1|
+-------------+-----+

## Pergunta 8

In [35]:
df_planes = (df_planes.withColumn('speed',
            F.when((F.col('speed').isNull()) &
                   (F.col('seats').isNotNull()), F.ceil(F.expr('seats/0.36')))
             .otherwise(F.col('speed'))
    ))

df_planes = df_planes.withColumn('speed',
                                 F.col('speed').cast(IntegerType()))

df_planes.filter(F.col('tailnum') == 'N102UW').show()

+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
|tailnum|year|     type|manufacturer|   model|engines|seats|speed|   engine|tailchar|age|
+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
| N102UW|1998|MULTI_ENG|      AIRBUS|A320-214|      2|  182|  506|Turbo-fan|      UW| 24|
+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+

In [36]:
df_planes = df_planes.withColumn("speed",
                    (F.when(~F.col('speed').between(50, 150), 0))
                                           .otherwise(F.col('speed')))

In [37]:
df_planes.groupBy("speed").count().distinct().orderBy("speed", ascending=True).show()

+-----+-----+
|speed|count|
+-----+-----+
|    0| 2584|
|   56|    1|
|   89|   37|
|   90|    2|
|  107|    1|
|  108|    1|
|  112|    1|
|  126|    1|
+-----+-----+

## Pergunta 9

In [38]:
df_planes = (df_planes.withColumn('engine_type',
                                F.when(F.col('engine') == "Turbo-fan", "FAN")
                                 .when(F.col('engine') == "Turbo-jet", "JET")
                                 .when(F.col('engine') == "Turbo-prop", "PROP")
                                 .when(F.col('engine') == "Turbo-shaft", "SHAFT")
                                 .when(F.col('engine') == "4 Cycle", "CYCLE") 
                                 .otherwise((None)))                              
                                
                                )

df_planes.groupBy("engine_type").count().distinct().orderBy("engine_type", ascending=True).show()

+-----------+-----+
|engine_type|count|
+-----------+-----+
|       null|   10|
|      CYCLE|    1|
|        FAN| 2127|
|        JET|  450|
|       PROP|   37|
|      SHAFT|    3|
+-----------+-----+

## Salvando arquivo

In [39]:
(df_planes
            .repartition(1) # coalesce
            .write.format("parquet")
            .mode('overwrite')
            .option("header", "true")
            .save("C:/projetos/spark/transformation/planes_proc.parquet"))

## Flights Dataset - Perguntas

In [40]:
#Visão Temporaria
df_flights.createOrReplaceTempView('flights')

## Pergunta 1

In [41]:
df_flights = (df_flights.withColumn('hour',
                                  F.when(F.col('hour').isNull(), 0)
                                   .otherwise(F.col('hour'))                     
                               
            ))

df_flights.groupBy("hour").count().distinct().orderBy("hour", ascending=True).show(25)

+----+-----+
|hour|count|
+----+-----+
|   0|  137|
|   1|   17|
|   2|    4|
|   5|  431|
|   6|  899|
|   7|  709|
|   8|  659|
|   9|  456|
|  10|  803|
|  11|  723|
|  12|  539|
|  13|  653|
|  14|  540|
|  15|  468|
|  16|  388|
|  17|  394|
|  18|  570|
|  19|  409|
|  20|  354|
|  21|  281|
|  22|  314|
|  23|  251|
|  24|    1|
+----+-----+

In [42]:
df_flights = (df_flights.withColumn('minute',
                                  F.when(F.col('minute').isNull(), 0)
                                   .otherwise(F.col('minute'))                     
                               
            ))

df_flights.groupBy("minute").count().distinct().orderBy("minute", ascending=True).show(60)

+------+-----+
|minute|count|
+------+-----+
|     0|  226|
|     1|  184|
|     2|  173|
|     3|  161|
|     4|  157|
|     5|  167|
|     6|  157|
|     7|  153|
|     8|  153|
|     9|  183|
|    10|  160|
|    11|  161|
|    12|  161|
|    13|  150|
|    14|  136|
|    15|  162|
|    16|  152|
|    17|  155|
|    18|  130|
|    19|  155|
|    20|  163|
|    21|  139|
|    22|  156|
|    23|  142|
|    24|  177|
|    25|  188|
|    26|  154|
|    27|  172|
|    28|  159|
|    29|  180|
|    30|  155|
|    31|  153|
|    32|  149|
|    33|  173|
|    34|  125|
|    35|  154|
|    36|  133|
|    37|  135|
|    38|  150|
|    39|  155|
|    40|  172|
|    41|  166|
|    42|  160|
|    43|  153|
|    44|  134|
|    45|  145|
|    46|  142|
|    47|  173|
|    48|  176|
|    49|  155|
|    50|  196|
|    51|  161|
|    52|  191|
|    53|  200|
|    54|  198|
|    55|  230|
|    56|  201|
|    57|  242|
|    58|  235|
|    59|  222|
+------+-----+

## Pergunta 2

In [43]:
df_flights = (df_flights.withColumn('hour',
                                  F.when(F.col('hour') == 24, 0)
                                   .otherwise(F.col('hour'))                     
                               
            ))

df_flights.groupBy("hour").count().distinct().orderBy("hour", ascending=True).show(24)

+----+-----+
|hour|count|
+----+-----+
|   0|  138|
|   1|   17|
|   2|    4|
|   5|  431|
|   6|  899|
|   7|  709|
|   8|  659|
|   9|  456|
|  10|  803|
|  11|  723|
|  12|  539|
|  13|  653|
|  14|  540|
|  15|  468|
|  16|  388|
|  17|  394|
|  18|  570|
|  19|  409|
|  20|  354|
|  21|  281|
|  22|  314|
|  23|  251|
+----+-----+

## Pergunta 3

In [44]:
df_flights = df_flights.withColumn('dep_datetime',
                                    F.expr('make_timestamp(year, month, day, hour, minute, 00)'))

df_flights.toPandas()

,year,month,day,hour,minute,dep_time,arr_time,dep_delay,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,dep_datetime
0,2014,12,8,6,58,658,935,-7.0,-5.0,VX,N846VA,1780,SEA,LAX,132.0,954,2014-12-08 06:58:00
1,2014,1,22,10,40,1040,1505,5.0,5.0,AS,N559AS,851,SEA,HNL,360.0,2677,2014-01-22 10:40:00
2,2014,3,9,14,43,1443,1652,-2.0,2.0,VX,N847VA,755,SEA,SFO,111.0,679,2014-03-09 14:43:00
3,2014,4,9,17,5,1705,1839,45.0,34.0,WN,N360SW,344,PDX,SJC,83.0,569,2014-04-09 17:05:00
4,2014,3,9,7,54,754,1015,-1.0,1.0,AS,N612AS,522,SEA,BUR,127.0,937,2014-03-09 07:54:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2014,6,23,18,6,1806,2104,-4.0,-6.0,OO,N225AG,3458,SEA,SLC,89.0,689,2014-06-23 18:06:00
9996,2014,8,31,23,36,2336,452,11.0,-13.0,AA,N3LEAA,1230,SEA,DFW,178.0,1660,2014-08-31 23:36:00
9997,2014,8,8,9,4,904,1042,-1.0,-5.0,AS,N523AS,360,SEA,SMF,81.0,605,2014-08-08 09:04:00
9998,2014,8,29,14,41,1441,1820,26.0,10.0,WN,N8647A,2857,SEA,ABQ,133.0,1180,2014-08-29 14:41:00
9999,2014,7,13,17,2,1702,1950,-3.0,-10.0,DL,N583NW,2237,SEA,HNL,332.0,2677,2014-07-13 17:02:00

In [45]:
df_flights.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- dep_delay: integer (nullable = true)
 |-- arr_delay: integer (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: integer (nullable = true)
 |-- distance: integer (nullable = true)
 |-- dep_datetime: timestamp (nullable = true)

## Pergunta 4

In [46]:
df_flights.groupBy('dep_time').count().orderBy('dep_time', ascending= True).show()

+--------+-----+
|dep_time|count|
+--------+-----+
|       1|    6|
|    1000|    8|
|    1001|   16|
|    1002|    5|
|    1003|   12|
|    1004|    9|
|    1005|    6|
|    1006|   17|
|    1007|   10|
|    1008|    9|
|    1009|   18|
|     101|    1|
|    1010|   12|
|    1011|   10|
|    1012|   18|
|    1013|   12|
|    1014|   13|
|    1015|   17|
|    1016|   15|
|    1017|   17|
+--------+-----+
only showing top 20 rows

In [47]:
df_flights = (df_flights.withColumn('dep_time',
                                  F.when(F.col('dep_time') == 'NA', 
                                  F.concat(F.col('hour'), 
                                  F.lpad(F.col('minute'), 2, '0')))
                                   .otherwise(F.col('dep_time'))
                ))

In [48]:
df_flights.groupBy('dep_time').count().orderBy('dep_time', ascending= True).show()

+--------+-----+
|dep_time|count|
+--------+-----+
|     000|   48|
|       1|    6|
|    1000|    8|
|    1001|   16|
|    1002|    5|
|    1003|   12|
|    1004|    9|
|    1005|    6|
|    1006|   17|
|    1007|   10|
|    1008|    9|
|    1009|   18|
|     101|    1|
|    1010|   12|
|    1011|   10|
|    1012|   18|
|    1013|   12|
|    1014|   13|
|    1015|   17|
|    1016|   15|
+--------+-----+
only showing top 20 rows

## Pergunta 5

In [49]:
df_flights = (df_flights.withColumn('dep_delay',
                                  F.when(F.col('dep_delay').isNull(), 0)
                                   .otherwise(F.col('dep_delay'))                     
                               
            ))

df_flights.groupBy("dep_delay").count().distinct().orderBy("dep_delay", ascending=True).show(1000)

+---------+-----+
|dep_delay|count|
+---------+-----+
|      -19|    1|
|      -18|    3|
|      -17|    4|
|      -16|    5|
|      -15|   10|
|      -14|   14|
|      -13|   37|
|      -12|   63|
|      -11|   80|
|      -10|  196|
|       -9|  208|
|       -8|  319|
|       -7|  471|
|       -6|  625|
|       -5|  742|
|       -4|  838|
|       -3|  852|
|       -2|  760|
|       -1|  666|
|        0|  646|
|        1|  311|
|        2|  227|
|        3|  209|
|        4|  168|
|        5|  148|
|        6|  137|
|        7|  117|
|        8|  125|
|        9|   94|
|       10|   95|
|       11|   96|
|       12|   78|
|       13|   60|
|       14|   70|
|       15|   66|
|       16|   59|
|       17|   55|
|       18|   55|
|       19|   54|
|       20|   40|
|       21|   49|
|       22|   54|
|       23|   34|
|       24|   31|
|       25|   36|
|       26|   32|
|       27|   36|
|       28|   38|
|       29|   22|
|       30|   24|
|       31|   25|
|       32|   14|
|       33|   20|
|       34|   22|
|       35|   17|
|       36|   25|
|       37|   16|
|       38|   16|
|       39|   18|
|       40|   16|
|       41|   12|
|       42|   14|
|       43|   14|
|       44|   10|
|       45|   14|
|       46|   14|
|       47|   14|
|       48|   16|
|       49|   12|
|       50|   20|
|       51|   15|
|       52|   18|
|       53|   14|
|       54|    8|
|       55|   20|
|       56|   16|
|       57|   11|
|       58|   10|
|       59|    4|
|       60|   11|
|       61|   13|
|       62|    8|
|       63|    9|
|       64|    9|
|       65|    7|
|       66|    8|
|       67|    6|
|       68|    9|
|       69|    7|
|       70|    4|
|       71|    5|
|       72|   13|
|       73|    3|
|       74|   12|
|       75|   10|
|       76|    7|
|       77|    9|
|       78|    5|
|       79|    5|
|       80|    5|
|       81|    6|
|       82|    3|
|       83|    2|
|       84|    6|
|       85|    3|
|       86|    5|
|       87|    5|
|       88|   10|
|       89|    7|
|       90|    4|
|       91|    3|
|       92|    2|
|       93|    6|
|       94|    3|
|       95|    6|
|       96|    5|
|       97|    1|
|       98|    2|
|       99|    3|
|      100|    3|
|      101|    3|
|      102|    2|
|      103|    2|
|      104|    3|
|      105|    4|
|      106|    2|
|      107|    2|
|      108|    2|
|      109|    5|
|      110|    2|
|      111|    3|
|      112|    1|
|      113|    2|
|      115|    2|
|      116|    1|
|      117|    1|
|      118|    2|
|      120|    2|
|      121|    3|
|      122|    1|
|      123|    5|
|      124|    1|
|      125|    1|
|      127|    6|
|      129|    2|
|      130|    2|
|      131|    3|
|      132|    3|
|      133|    4|
|      134|    3|
|      135|    3|
|      136|    3|
|      137|    1|
|      138|    1|
|      139|    1|
|      141|    1|
|      144|    1|
|      145|    1|
|      148|    1|
|      149|    2|
|      150|    3|
|      155|    1|
|      158|    2|
|      159|    1|
|      161|    2|
|      163|    1|
|      164|    1|
|      167|    1|
|      168|    1|
|      170|    1|
|      174|    1|
|      177|    1|
|      179|    3|
|      185|    1|
|      188|    1|
|      189|    3|
|      193|    1|
|      201|    1|
|      202|    2|
|      210|    1|
|      211|    1|
|      212|    2|
|      213|    1|
|      214|    1|
|      222|    2|
|      223|    1|
|      226|    2|
|      229|    1|
|      249|    1|
|      266|    1|
|      271|    1|
|      273|    1|
|      274|    2|
|      302|    1|
|      310|    1|
|      328|    1|
|      352|    1|
|      370|    1|
|      385|    1|
|      667|    1|
|      739|    1|
|      886|    1|
+---------+-----+

## Pergunta 6

In [50]:
df_flights = (df_flights.withColumn('arr_delay',
                                  F.when(F.col('arr_delay').isNull(), 0)
                                   .otherwise(F.col('arr_delay'))                     
                               
            ))

df_flights.groupBy("arr_delay").count().distinct().orderBy("arr_delay", ascending=True).show(1000)

+---------+-----+
|arr_delay|count|
+---------+-----+
|      -58|    1|
|      -53|    1|
|      -50|    1|
|      -48|    1|
|      -47|    2|
|      -46|    1|
|      -45|    2|
|      -44|    2|
|      -43|    2|
|      -42|    6|
|      -41|    4|
|      -40|    7|
|      -39|    3|
|      -38|   14|
|      -37|    7|
|      -36|   15|
|      -35|   14|
|      -34|   17|
|      -33|   14|
|      -32|   17|
|      -31|   34|
|      -30|   27|
|      -29|   35|
|      -28|   43|
|      -27|   60|
|      -26|   66|
|      -25|   49|
|      -24|   82|
|      -23|   83|
|      -22|  101|
|      -21|  109|
|      -20|  127|
|      -19|  141|
|      -18|  163|
|      -17|  188|
|      -16|  179|
|      -15|  202|
|      -14|  257|
|      -13|  270|
|      -12|  285|
|      -11|  288|
|      -10|  254|
|       -9|  300|
|       -8|  316|
|       -7|  330|
|       -6|  323|
|       -5|  331|
|       -4|  314|
|       -3|  295|
|       -2|  279|
|       -1|  286|
|        0|  327|
|        1|  243|
|        2|  250|
|        3|  193|
|        4|  195|
|        5|  181|
|        6|  165|
|        7|  144|
|        8|  134|
|        9|  113|
|       10|  111|
|       11|  120|
|       12|  104|
|       13|  101|
|       14|   85|
|       15|   75|
|       16|   68|
|       17|   61|
|       18|   59|
|       19|   45|
|       20|   64|
|       21|   52|
|       22|   44|
|       23|   37|
|       24|   37|
|       25|   30|
|       26|   33|
|       27|   32|
|       28|   23|
|       29|   34|
|       30|   30|
|       31|   26|
|       32|   20|
|       33|   24|
|       34|   16|
|       35|   29|
|       36|   14|
|       37|   20|
|       38|   24|
|       39|   18|
|       40|   22|
|       41|   17|
|       42|   15|
|       43|   15|
|       44|   11|
|       45|   18|
|       46|   15|
|       47|   16|
|       48|   14|
|       49|   11|
|       50|    9|
|       51|   22|
|       52|   15|
|       53|    9|
|       54|   16|
|       55|   11|
|       56|    9|
|       57|   11|
|       58|    9|
|       59|   11|
|       60|    7|
|       61|   15|
|       62|    5|
|       63|    7|
|       64|   12|
|       65|   11|
|       66|    7|
|       67|    6|
|       68|   10|
|       69|    9|
|       70|    7|
|       71|    8|
|       72|    9|
|       73|    7|
|       74|    8|
|       75|    5|
|       76|    4|
|       77|    7|
|       78|    7|
|       79|    9|
|       80|   10|
|       81|    3|
|       82|    3|
|       83|    6|
|       84|    3|
|       85|    3|
|       86|    7|
|       87|    9|
|       88|    5|
|       89|    3|
|       90|    3|
|       91|    5|
|       92|    2|
|       93|    2|
|       94|    5|
|       95|    4|
|       96|    1|
|       97|    3|
|       98|    4|
|       99|    4|
|      100|    3|
|      101|    7|
|      102|    2|
|      103|    1|
|      104|    4|
|      105|    2|
|      106|    1|
|      107|    3|
|      109|    2|
|      110|    3|
|      111|    2|
|      112|    3|
|      113|    1|
|      114|    3|
|      115|    2|
|      116|    2|
|      117|    3|
|      119|    3|
|      120|    2|
|      121|    2|
|      122|    5|
|      123|    1|
|      124|    2|
|      125|    2|
|      126|    2|
|      127|    2|
|      128|    2|
|      129|    2|
|      130|    2|
|      131|    2|
|      133|    3|
|      134|    1|
|      135|    5|
|      136|    2|
|      137|    1|
|      138|    1|
|      139|    2|
|      142|    4|
|      143|    1|
|      145|    2|
|      146|    1|
|      148|    1|
|      149|    1|
|      150|    2|
|      154|    1|
|      156|    1|
|      159|    1|
|      163|    2|
|      166|    1|
|      170|    2|
|      171|    2|
|      172|    1|
|      176|    2|
|      178|    1|
|      180|    1|
|      185|    1|
|      186|    1|
|      187|    1|
|      188|    2|
|      191|    1|
|      192|    1|
|      198|    2|
|      200|    2|
|      206|    1|
|      207|    1|
|      211|    1|
|      212|    1|
|      227|    1|
|      234|    1|
|      236|    1|
|      237|    1|
|      242|    1|
|      248|    1|
|      261|    1|
|      268|    1|
|      278|    1|
|      279|    1|
|      284|    1|
|      314|    1|
|      318|    1|
|      322|    1|
|      358|    1|
|      371|    1|
|      375|    1|
|      643|    1|
|      720|    1|
|      900|    1|
+---------+-----+

In [51]:
df_flights.groupBy(F.col('arr_delay') == 0).count().show(50)

+---------------+-----+
|(arr_delay = 0)|count|
+---------------+-----+
|           true|  327|
|          false| 9673|
+---------------+-----+

## Pergunta 7

In [52]:
df_flights = df_flights.drop("year", "month", "day","hour", "minute")

## Pergunta 8

In [53]:
df_flights = df_flights.withColumn('air_time_projected',
                                   ((F.col('distance') * 0.1) + 20).cast(IntegerType()))

In [54]:
df_flights.printSchema()

root
 |-- dep_time: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- dep_delay: integer (nullable = true)
 |-- arr_delay: integer (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: integer (nullable = true)
 |-- distance: integer (nullable = true)
 |-- dep_datetime: timestamp (nullable = true)
 |-- air_time_projected: integer (nullable = true)

In [55]:
df_flights.groupBy("air_time_projected").count().distinct().orderBy("air_time_projected", ascending=True).show(270)

+------------------+-----+
|air_time_projected|count|
+------------------+-----+
|                29|    5|
|                30|   41|
|                31|   54|
|                32|  301|
|                42|  105|
|                44|   10|
|                54|    7|
|                64|   13|
|                67|   93|
|                74|  121|
|                75|  305|
|                76|  164|
|                80|  190|
|                83|  171|
|                87|  695|
|                88|  302|
|                89|  213|
|                94|   47|
|                96|  156|
|                98|   23|
|               101|   71|
|               103|  222|
|               104|   56|
|               105|   51|
|               106|  370|
|               107|   14|
|               109|    4|
|               110|  100|
|               113|  157|
|               115|  521|
|               116|  119|
|               117|  147|
|               118|   34|
|               119|  235|
|               120|  209|
|               122|  351|
|               125|  180|
|               126|   26|
|               130|  321|
|               131|   38|
|               138|   43|
|               141|   26|
|               156|   25|
|               159|  166|
|               162|   72|
|               164|  380|
|               168|   45|
|               173|   72|
|               174|   69|
|               181|  126|
|               184|    8|
|               186|  245|
|               189|   16|
|               190|   25|
|               191|    4|
|               192|  282|
|               193|  215|
|               195|   28|
|               197|   45|
|               202|   57|
|               204|    6|
|               207|  169|
|               209|   16|
|               212|   98|
|               215|   25|
|               216|    5|
|               217|    9|
|               222|    2|
|               228|    9|
|               237|  110|
|               238|  148|
|               247|   57|
|               248|   21|
|               250|   69|
|               252|   70|
|               253|   29|
|               255|   27|
|               257|   72|
|               260|  131|
|               262|  127|
|               263|   21|
|               265|   46|
|               269|   96|
|               272|   11|
|               273|   33|
|               275|   31|
|               276|   28|
|               280|   69|
|               283|    7|
|               284|   63|
|               287|   86|
|               288|   40|
|               290|   30|
|               291|   29|
|               292|   19|
+------------------+-----+

## Pergunta 9

In [56]:
df_flights.toPandas()

,dep_time,arr_time,dep_delay,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,dep_datetime,air_time_projected
0,658,935,-7,-5,VX,N846VA,1780,SEA,LAX,132.0,954,2014-12-08 06:58:00,115
1,1040,1505,5,5,AS,N559AS,851,SEA,HNL,360.0,2677,2014-01-22 10:40:00,287
2,1443,1652,-2,2,VX,N847VA,755,SEA,SFO,111.0,679,2014-03-09 14:43:00,87
3,1705,1839,45,34,WN,N360SW,344,PDX,SJC,83.0,569,2014-04-09 17:05:00,76
4,754,1015,-1,1,AS,N612AS,522,SEA,BUR,127.0,937,2014-03-09 07:54:00,113
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1806,2104,-4,-6,OO,N225AG,3458,SEA,SLC,89.0,689,2014-06-23 18:06:00,88
9996,2336,452,11,-13,AA,N3LEAA,1230,SEA,DFW,178.0,1660,2014-08-31 23:36:00,186
9997,904,1042,-1,-5,AS,N523AS,360,SEA,SMF,81.0,605,2014-08-08 09:04:00,80
9998,1441,1820,26,10,WN,N8647A,2857,SEA,ABQ,133.0,1180,2014-08-29 14:41:00,138
9999,1702,1950,-3,-10,DL,N583NW,2237,SEA,HNL,332.0,2677,2014-07-13 17:02:00,287

In [57]:
df_flights_1 = df_flights.groupBy("origin", "dest").agg(F.avg('air_time').cast(IntegerType()).alias('air_time_expected')).orderBy('origin')

In [58]:
print('Actual columns:', df_flights_1.columns)


df_flights_1 = (df_flights_1.withColumnRenamed('origin', 'O1')
                          .withColumnRenamed('dest', 'D1')
                          .withColumnRenamed('air_time_expected', 'air_time_expected')
                                       
              )
print('modified columns:', df_flights_1.columns)

df_flights_1.show()

Actual columns: ['origin', 'dest', 'air_time_expected']
modified columns: ['O1', 'D1', 'air_time_expected']
+---+---+-----------------+
| O1| D1|air_time_expected|
+---+---+-----------------+
|PDX|DEN|              123|
|PDX|ABQ|              136|
|PDX|JFK|              286|
|PDX|KOA|              357|
|PDX|SBA|              105|
|PDX|SEA|               34|
|PDX|SAN|              124|
|PDX|PHX|              130|
|PDX|EWR|              281|
|PDX|SFO|               85|
|PDX|BOS|              291|
|PDX|ONT|              111|
|PDX|DCA|              269|
|PDX|MDW|              214|
|PDX|LGB|              116|
|PDX|PHL|              283|
|PDX|ANC|              202|
|PDX|OAK|               81|
|PDX|STL|              204|
|PDX|IAD|              267|
+---+---+-----------------+
only showing top 20 rows

In [59]:
df_flights_Final = (df_flights.join(df_flights_1,
                  (df_flights.origin == df_flights_1.O1)
                     & (df_flights.dest == df_flights_1.D1)
                        ,"left")
)

In [60]:
df_flights_Final.toPandas()

,dep_time,arr_time,dep_delay,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,dep_datetime,air_time_projected,O1,D1,air_time_expected
0,658,935,-7,-5,VX,N846VA,1780,SEA,LAX,132.0,954,2014-12-08 06:58:00,115,SEA,LAX,126
1,1040,1505,5,5,AS,N559AS,851,SEA,HNL,360.0,2677,2014-01-22 10:40:00,287,SEA,HNL,343
2,1443,1652,-2,2,VX,N847VA,755,SEA,SFO,111.0,679,2014-03-09 14:43:00,87,SEA,SFO,101
3,1705,1839,45,34,WN,N360SW,344,PDX,SJC,83.0,569,2014-04-09 17:05:00,76,PDX,SJC,85
4,754,1015,-1,1,AS,N612AS,522,SEA,BUR,127.0,937,2014-03-09 07:54:00,113,SEA,BUR,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1806,2104,-4,-6,OO,N225AG,3458,SEA,SLC,89.0,689,2014-06-23 18:06:00,88,SEA,SLC,88
9996,2336,452,11,-13,AA,N3LEAA,1230,SEA,DFW,178.0,1660,2014-08-31 23:36:00,186,SEA,DFW,195
9997,904,1042,-1,-5,AS,N523AS,360,SEA,SMF,81.0,605,2014-08-08 09:04:00,80,SEA,SMF,82
9998,1441,1820,26,10,WN,N8647A,2857,SEA,ABQ,133.0,1180,2014-08-29 14:41:00,138,SEA,ABQ,142
9999,1702,1950,-3,-10,DL,N583NW,2237,SEA,HNL,332.0,2677,2014-07-13 17:02:00,287,SEA,HNL,343

In [61]:
df_flights = df_flights_Final.drop("O1", "D1")

In [62]:
df_flights.toPandas()

,dep_time,arr_time,dep_delay,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,dep_datetime,air_time_projected,air_time_expected
0,658,935,-7,-5,VX,N846VA,1780,SEA,LAX,132.0,954,2014-12-08 06:58:00,115,126
1,1040,1505,5,5,AS,N559AS,851,SEA,HNL,360.0,2677,2014-01-22 10:40:00,287,343
2,1443,1652,-2,2,VX,N847VA,755,SEA,SFO,111.0,679,2014-03-09 14:43:00,87,101
3,1705,1839,45,34,WN,N360SW,344,PDX,SJC,83.0,569,2014-04-09 17:05:00,76,85
4,754,1015,-1,1,AS,N612AS,522,SEA,BUR,127.0,937,2014-03-09 07:54:00,113,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1806,2104,-4,-6,OO,N225AG,3458,SEA,SLC,89.0,689,2014-06-23 18:06:00,88,88
9996,2336,452,11,-13,AA,N3LEAA,1230,SEA,DFW,178.0,1660,2014-08-31 23:36:00,186,195
9997,904,1042,-1,-5,AS,N523AS,360,SEA,SMF,81.0,605,2014-08-08 09:04:00,80,82
9998,1441,1820,26,10,WN,N8647A,2857,SEA,ABQ,133.0,1180,2014-08-29 14:41:00,138,142
9999,1702,1950,-3,-10,DL,N583NW,2237,SEA,HNL,332.0,2677,2014-07-13 17:02:00,287,343

In [63]:
# deleta os dataframes provisórios
#del df_flights

## Pergunta 10

In [64]:
df_flights.groupBy("air_time").count().distinct().orderBy("air_time", ascending=True).show()

+--------+-----+
|air_time|count|
+--------+-----+
|    null|   75|
|      20|    3|
|      24|    4|
|      25|   10|
|      26|   20|
|      27|   23|
|      28|   24|
|      29|   35|
|      30|   25|
|      31|   34|
|      32|   32|
|      33|   40|
|      34|   34|
|      35|   32|
|      36|   40|
|      37|   32|
|      38|   30|
|      39|   22|
|      40|   17|
|      41|   11|
+--------+-----+
only showing top 20 rows

In [65]:
# Função greatest (Retorna o maior valor de todos os parâmetros)
df_flights = (df_flights.withColumn('air_time',
                                  F.when(F.col('air_time').isNull(), 
                                         F.greatest(F.col('air_time_projected'), F.col('air_time_expected')))
                                   .otherwise(F.col('air_time'))                     
                               
            ))

In [66]:
df_flights.groupBy("air_time").count().distinct().orderBy("air_time", ascending=True).show()

+--------+-----+
|air_time|count|
+--------+-----+
|      20|    3|
|      24|    4|
|      25|   10|
|      26|   20|
|      27|   23|
|      28|   24|
|      29|   35|
|      30|   27|
|      31|   34|
|      32|   35|
|      33|   40|
|      34|   40|
|      35|   32|
|      36|   40|
|      37|   32|
|      38|   30|
|      39|   22|
|      40|   17|
|      41|   11|
|      42|   12|
+--------+-----+
only showing top 20 rows

## Pergunta 11

In [67]:
df_flights.filter(F.col('arr_time') == 'NA').toPandas()

,dep_time,arr_time,dep_delay,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,dep_datetime,air_time_projected,air_time_expected
0,000,NA,0,0,UA,NA,156,SEA,DEN,127,1024,2014-03-04 00:00:00,122,127
1,000,NA,0,0,AS,N527AS,2,SEA,DCA,268,2329,2014-02-12 00:00:00,252,268
2,000,NA,0,0,WN,N8323C,2485,SEA,MDW,214,1733,2014-07-01 00:00:00,193,214
3,000,NA,0,0,AS,N526AS,566,PDX,LAX,114,834,2014-04-30 00:00:00,103,114
4,000,NA,0,0,US,NA,553,SEA,PHL,279,2378,2014-01-03 00:00:00,257,279
5,000,NA,0,0,AS,N579AS,867,SEA,OGG,339,2640,2014-08-07 00:00:00,284,339
6,000,NA,0,0,OO,N689CA,4528,PDX,SEA,34,129,2014-08-11 00:00:00,32,34
7,2238,NA,8,0,OO,N297SW,5437,PDX,LMT,53,241,2014-02-06 22:38:00,44,53
8,000,NA,0,0,UA,NA,212,SEA,EWR,277,2402,2014-01-02 00:00:00,260,277
9,000,NA,0,0,OO,N917SW,6250,PDX,LAX,114,834,2014-05-15 00:00:00,103,114
10,000,NA,0,0,OO,N594SW,5553,PDX,SFO,85,550,2014-02-07 00:00:00,75,85
11,000,NA,0,0,WN,N645SW,956,PDX,OAK,81,543,2014-06-06 00:00:00,74,81
12,000,NA,0,0,UA,NA,758,PDX,IAH,213,1825,2014-01-05 00:00:00,202,213
13,000,NA,0,0,UA,NA,1729,SEA,DEN,127,1024,2014-01-06 00:00:00,122,127
14,000,NA,0,0,US,NA,500,SEA,PHX,141,1107,2014-03-30 00:00:00,130,141
15,000,NA,0,0,OO,N580SW,5438,PDX,EUG,30,106,2014-02-09 00:00:00,30,27
16,000,NA,0,0,OO,N297SW,5342,SEA,PDX,32,129,2014-02-09 00:00:00,32,32
17,000,NA,0,0,OO,N295SW,5403,PDX,EUG,30,106,2014-01-01 00:00:00,30,27
18,000,NA,0,0,AA,N3LCAA,1236,SEA,ORD,202,1721,2014-02-17 00:00:00,192,202
19,000,NA,0,0,UA,NA,995,PDX,SFO,85,550,2014-01-05 00:00:00,75,85
20,000,NA,0,0,UA,NA,690,SEA,ORD,202,1721,2014-05-26 00:00:00,192,202
21,1547,NA,52,0,AS,N525AS,67,SEA,KTN,98,680,2014-01-14 15:47:00,88,98
22,000,NA,0,0,UA,NA,1142,SEA,IAH,220,1874,2014-06-20 00:00:00,207,220
23,000,NA,0,0,OO,N689CA,4528,PDX,SEA,34,129,2014-08-10 00:00:00,32,34
24,000,NA,0,0,UA,NA,1523,SEA,SFO,101,679,2014-02-16 00:00:00,87,101
25,000,NA,0,0,OO,N617QX,4825,PDX,SEA,34,129,2014-11-13 00:00:00,32,34
26,000,NA,0,0,OO,N216AG,3478,PDX,LGB,116,846,2014-04-25 00:00:00,104,116
27,000,NA,0,0,DL,N3744F,2482,PDX,ATL,247,2172,2014-01-28 00:00:00,237,247
28,000,NA,0,0,B6,N805JB,598,SEA,BOS,286,2496,2014-01-06 00:00:00,269,286
29,000,NA,0,0,WN,N400WN,4174,SEA,DEN,127,1024,2014-01-04 00:00:00,122,127
30,000,NA,0,0,OO,N983CA,5197,PDX,SFO,85,550,2014-09-24 00:00:00,75,85
31,000,NA,0,0,OO,N953SW,5210,PDX,SFO,85,550,2014-07-03 00:00:00,75,85
32,000,NA,0,0,OO,N580SW,5433,SEA,PDX,32,129,2014-02-09 00:00:00,32,32
33,2252,NA,127,0,AS,N706AS,574,PDX,SAN,124,933,2014-02-08 22:52:00,113,124
34,000,NA,0,0,OO,N963SW,5197,PDX,SFO,85,550,2014-12-16 00:00:00,75,85
35,000,NA,0,0,AS,N514AS,686,PDX,ORD,205,1739,2014-09-26 00:00:00,193,205
36,000,NA,0,0,DL,N721TW,182,SEA,JFK,281,2422,2014-02-04 00:00:00,262,281
37,000,NA,0,0,OO,N568SW,5379,PDX,SEA,34,129,2014-01-18 00:00:00,32,34
38,000,NA,0,0,UA,NA,1599,SEA,ORD,202,1721,2014-01-05 00:00:00,192,202
39,753,NA,18,0,AS,N765AS,61,SEA,JNU,128,909,2014-12-10 07:53:00,110,128
40,000,NA,0,0,UA,NA,1752,SEA,SFO,101,679,2014-08-16 00:00:00,87,101
41,000,NA,0,0,WN,N8647A,827,SEA,MDW,214,1733,2014-10-02 00:00:00,193,214
42,1503,NA,3,0,AS,N612AS,650,SEA,PHX,141,1107,2014-08-12 15:03:00,130,141
43,000,NA,0,0,UA,NA,732,SEA,ORD,202,1721,2014-01-05 00:00:00,192,202
44,000,NA,0,0,US,NA,614,SEA,PHX,141,1107,2014-02-16 00:00:00,130,141
45,000,NA,0,0,OO,N946SW,5196,PDX,SFO,85,550,2014-02-27 00:00:00,75,85
46,1855,NA,5,0,WN,N7743B,745,PDX,SAN,124,933,2014-11-28 18:55:00,113,124
47,000,NA,0,0,AS,N627AS,682,SEA,DEN,127,1024,2014-02-09 00:00:00,122,127
48,000,NA,0,0,WN,N773SA,387,SEA,MDW,214,1733,2014-01-30 00:00:00,193,214
49,000,NA,0,0,OO,N593ML,6250,PDX,LAX,114,834,2014-02-08 00:00:00,103,114
50,924,NA,3,0,OO,N294SW,5428,PDX,SEA,34,129,2014-01-25 09:24:00,32,34
51,000,NA,0,0,AA,N3DRAA,125,SEA,ORD,202,1721,2014-02-04 00:00:00,192,202
52,000,NA,0,0,AS,N529AS,413,PDX,SEA,34,129,2014-10-14 00:00:00,32,34
53,000,NA,0,0,WN,N449WN,1900,SEA,MDW,214,1733,2014-02-17 00:00:00,193,214
54,000,NA,0,0,OO,N162PQ,4489,SEA,PDX,32,129,2014-08-12 00:00:00,32,32

In [68]:
# Transforma a coluna dep_datetime em segundos com a função unix_timestamp e soma com a coluna air_time 
# transformada em segundos, transformando novamente em timestamp depois
df_flights = df_flights.withColumn('sum', 
                        (F.unix_timestamp("dep_datetime") + 
                        (F.col('air_time') * 60).cast('int')).cast('timestamp'))

# Verifica aonde a coluna arr_time está nulo e troca o valor
df_flights = df_flights.withColumn('arr_time',
             F.when(F.col('arr_time') == 'NA', F.format_string('%d%d', F.hour(F.col('sum')), 
                                                                       F.minute(F.col('sum'))))
             .otherwise(F.col('arr_time')))

# Remove a coluna sum
df_flights = df_flights.drop('sum')

df_flights.toPandas()

,dep_time,arr_time,dep_delay,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,dep_datetime,air_time_projected,air_time_expected
0,658,935,-7,-5,VX,N846VA,1780,SEA,LAX,132,954,2014-12-08 06:58:00,115,126
1,1040,1505,5,5,AS,N559AS,851,SEA,HNL,360,2677,2014-01-22 10:40:00,287,343
2,1443,1652,-2,2,VX,N847VA,755,SEA,SFO,111,679,2014-03-09 14:43:00,87,101
3,1705,1839,45,34,WN,N360SW,344,PDX,SJC,83,569,2014-04-09 17:05:00,76,85
4,754,1015,-1,1,AS,N612AS,522,SEA,BUR,127,937,2014-03-09 07:54:00,113,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1806,2104,-4,-6,OO,N225AG,3458,SEA,SLC,89,689,2014-06-23 18:06:00,88,88
9996,2336,452,11,-13,AA,N3LEAA,1230,SEA,DFW,178,1660,2014-08-31 23:36:00,186,195
9997,904,1042,-1,-5,AS,N523AS,360,SEA,SMF,81,605,2014-08-08 09:04:00,80,82
9998,1441,1820,26,10,WN,N8647A,2857,SEA,ABQ,133,1180,2014-08-29 14:41:00,138,142
9999,1702,1950,-3,-10,DL,N583NW,2237,SEA,HNL,332,2677,2014-07-13 17:02:00,287,343

In [69]:
df_flights.select(F.col('origin'),
                  F.col('dest'),
                  F.col('arr_time'),
                  F.col('dep_time'),
                  F.col('air_time')).where((F.col('origin') == 'SEA') & (F.col('dest') == 'PHX')).show()

+------+----+--------+--------+--------+
|origin|dest|arr_time|dep_time|air_time|
+------+----+--------+--------+--------+
|   SEA| PHX|    1415|    1120|     154|
|   SEA| PHX|    1906|    1500|     151|
|   SEA| PHX|     757|     515|     143|
|   SEA| PHX|    1021|     746|     135|
|   SEA| PHX|    2027|    1750|     137|
|   SEA| PHX|    2104|    1844|     124|
|   SEA| PHX|    1020|     739|     139|
|   SEA| PHX|    1059|     716|     142|
|   SEA| PHX|    1355|    1113|     140|
|   SEA| PHX|    1205|     837|     129|
|   SEA| PHX|    1407|    1122|     144|
|   SEA| PHX|    1033|     739|     153|
|   SEA| PHX|    1723|    1439|     143|
|   SEA| PHX|     939|     654|     142|
|   SEA| PHX|    1402|    1126|     140|
|   SEA| PHX|    2153|    1921|     140|
|   SEA| PHX|    1922|    1648|     140|
|   SEA| PHX|    1050|     726|     126|
|   SEA| PHX|    1450|    1211|     144|
|   SEA| PHX|    2122|    1738|     144|
+------+----+--------+--------+--------+
only showing top 20 rows

In [70]:
df_flights.filter(F.col('arr_time') == 'NA').show(truncate = 5)

(df_flights
.select(F.col('dep_time'), 
        F.col('dep_delay'), 
        F.col('arr_time'), 
        F.col('arr_delay'), 
        F.col('air_time'), 
        F.col('tailnum'))
.where(F.col('tailnum') == 'N612AS')
.show(50))

+--------+--------+---------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+
|dep_time|arr_time|dep_delay|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|dep_datetime|air_time_projected|air_time_expected|
+--------+--------+---------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+
+--------+--------+---------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+

+--------+---------+--------+---------+--------+-------+
|dep_time|dep_delay|arr_time|arr_delay|air_time|tailnum|
+--------+---------+--------+---------+--------+-------+
|     754|       -1|    1015|        1|     127| N612AS|
|     653|       -7|     920|       -6|     133| N612AS|
|     936|        1|    1210|       -4|     140| N612AS|
|    1829|       -6|    2101|      -21|     122| N612AS|
|    2124|       14|    2356|       -3|     202| N612AS|
|    1346|       -4|    1613|       -5|     129| N612AS|
|    1652|       -8|    1905|        4|     109| N612AS|
|    2124|       -6|    2218|       -6|      36| N612AS|
|    1012|       -8|    1238|       -5|     125| N612AS|
|    1540|      -10|    1753|      -14|     114| N612AS|
|    1053|        8|    1322|        0|     128| N612AS|
|    1642|       -8|    1837|      -17|     103| N612AS|
|    1845|        0|    2112|       -3|     132| N612AS|
|     737|       -3|    1033|        8|     152| N612AS|
|    2119|       -6|    2320|       -1|     100| N612AS|
|    1034|       -6|    1415|      -25|     135| N612AS|
|    1214|       19|    1448|       18|     138| N612AS|
|    1832|      -13|    2110|       -6|     144| N612AS|
|    1329|        4|    1706|        9|     137| N612AS|
|    1840|       -5|    2119|        4|     141| N612AS|
|    1057|       -3|    1301|      -14|      94| N612AS|
|     911|       -4|    1142|       -6|     129| N612AS|
|    1327|        2|    1552|      -33|     185| N612AS|
|     831|       56|    1219|       73|     147| N612AS|
|     937|       -8|    1148|       -6|     102| N612AS|
|    1941|        1|    2214|        4|     121| N612AS|
|     612|       -3|     910|       21|     157| N612AS|
|    1022|      -13|    1405|      -10|     124| N612AS|
|    1225|       -5|    1410|      -10|      86| N612AS|
|    2125|        0|    2331|      -11|     104| N612AS|
|    2116|       -9|    2307|      -15|      93| N612AS|
|    1930|       -5|    2145|       -8|     120| N612AS|
|     750|       -5|    1023|        6|     137| N612AS|
|    1844|       -1|    2110|       -5|     128| N612AS|
|    1113|       -2|    1434|      -13|     122| N612AS|
|    1032|       -3|    1259|       -2|     125| N612AS|
|    1940|       -5|    2204|      -12|     124| N612AS|
|    1020|        0|    1247|       10|     119| N612AS|
|     858|       -7|    1126|       -9|     130| N612AS|
|    1616|        6|    1815|        5|      97| N612AS|
|     609|       -6|     830|      -19|     123| N612AS|
|    1019|       -6|    1308|       19|     137| N612AS|
|    1503|        3|    1724|        0|     141| N612AS|
|    1003|       -7|    1549|      -16|     200| N612AS|
|     837|        2|    1110|       -1|     128| N612AS|
|    1558|       -2|    1752|       -3|      97| N612AS|
|    1354|       14|    1554|       29|      88| N612AS|
|    2229|        4|     124|       12|     197| N612AS|
|    1311|        1|    1856|        2|     196| N612AS|
|    1257|       -3|    1454|      -11|      99| N612AS|
+--------+---------+--------+---------+--------+-------+
only showing top 50 rows

## Pergunta 12

In [71]:
df_flights = df_flights.withColumn('haul_duration', (
                      F.when((F.col('air_time').between(20,180)), "SHORT-HAUL")
                       .when((F.col('air_time').between(181,360)), "MEDIUM-HAUL")
                       .otherwise('LONG-HAUL')))

In [72]:
df_flights.groupBy("haul_duration").count().distinct().orderBy("haul_duration", ascending=True).show()

+-------------+-----+
|haul_duration|count|
+-------------+-----+
|    LONG-HAUL|   54|
|  MEDIUM-HAUL| 3254|
|   SHORT-HAUL| 6692|
+-------------+-----+

## Pergunta 13

In [73]:
df_flights = df_flights.withColumn('dep_season', (
                      F.when((F.col('dep_datetime').between('2013-12-21 21:48:00','2014-03-20 15:32:59')), "WINTER")
                       .when((F.col('dep_datetime').between('2014-03-20 15:33:00','2014-06-21 10:13:59')), "SPRING")
                       .when((F.col('dep_datetime').between('2014-06-21 10:14:00','2014-09-23 02:03:59')), "SUMMER")
                       .when((F.col('dep_datetime').between('2014-09-23 02:04:00','2014-12-21 21:47:59')), "FALL")
                       .when((F.col('dep_datetime').between('2014-12-21 21:48:00','2015-03-20 15:32:59')), "WINTER")))

In [74]:
df_flights.groupBy("dep_season").count().distinct().orderBy("dep_season", ascending=True).show()

+----------+-----+
|dep_season|count|
+----------+-----+
|      FALL| 2373|
|    SPRING| 2560|
|    SUMMER| 2918|
|    WINTER| 2149|
+----------+-----+

## Pergunta 14

In [75]:
df_flights = df_flights.withColumn('dep_delay_category', (
                      F.when((F.col('dep_delay') < 0), "ANTECIPATED")
                       .when((F.col('dep_delay') == 0), "INTIME")
                       .when((F.col('dep_delay') >= 60 ), "MAJOR")
                       .otherwise("MINOR")))

In [76]:
df_flights.groupBy("dep_delay_category").count().distinct().orderBy("dep_delay_category", ascending=True).show()

+------------------+-----+
|dep_delay_category|count|
+------------------+-----+
|       ANTECIPATED| 5894|
|            INTIME|  646|
|             MAJOR|  395|
|             MINOR| 3065|
+------------------+-----+

## Salvando arquivo

In [77]:
(df_flights
            .repartition(1) # coalesce
            .write.format("parquet")
            .mode('overwrite')
            .option("header", "true")
            .save("C:/projetos/spark/transformation/flights_proc.parquet"))